body{
  margin: 0px;
  margin-top: 50px;
  font-family: sans-serif;
}
header {
display: flex;
position: fixed;
top: 0px;
left: 0px;
right: 0px;
height: 0px;
line-height: 50px;
background-color: #eee;
}
header *{
  display: inline;
  height: 50px;
}
header ul{
  padding: 0;
}
header li{
  margin-left: 20px;
}
section{
  height: 50vh;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}
#home .profile-img{
  width: 300px;
  border-radius: 50px;
}
footer{
  text-align: center;
  padding: 50px;
}
#home h1{
  font-size: 3em;
}
section h3{
  font-size: 1.5em;
}
section h2{
  font-size: 2.5em;
}
header a{
  text-decoration: none;
  color:black;
}
footer{
  text-decoration: none;
}
#hero {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/field.jpg');
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/beach.jpg');
}

#contact {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://codetheweb.blog/assets/img/posts/steps-to-creating-a-website/canyon.jpg');
}